/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 23, 2025, 1:39:48 PM
    Author     : admin
*/

.Main{
    -fx-background-color: #454545;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-text-fill: yellow;
    -fx-font-family: "Verdana";

}
.Hquiz{
    -fx-fill: white;
    -fx-font-size: 50;
    -fx-stroke: blue;
    -fx-stroke-width:2;
}
.btn{
    -fx-background-color: #333333;
    -fx-font-size: 14;
    -fx-text-fill: blue;
    
}
.Input{
    
    -fx-pref-width: 250;
}