/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 23, 2025, 1:39:48 PM
    Author     : admin
*/

.Main{
    -fx-background-color: white;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";

}
.Hquiz{
    -fx-fill: white;
    -fx-font-size: 50;
    -fx-stroke: green;
    -fx-stroke-width:5;
}
.btn{
    -fx-background-color: #E0E0E0;
    -fx-font-size: 14;
    -fx-text-fill: red;
}
.Input{
    
    -fx-pref-width: 250;
}